{% extends 'base/base.html' %}
{% load static %}
{% block body %}
    <div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">

				<h2>
					Curso de python com Luciano Ramalho
				</h2>

        <h4 class="mt-4">Matrículas abertas, custo R$ 1000,00</h4>
        <!-- INICIO DO BOTAO PAGSEGURO -->
        <a href="https://pag.ae/7VY2Ay5NK/button" target="_blank" title="Pagar com PagSeguro"><img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar-preto.gif" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
        </a><!-- FIM DO BOTAO PAGSEGURO -->


                <!-- <h4 class="mt-4">Entre na Fila de Espera</h4> -->

                <!--Begin mc_embed_signup-->

                <!-- <form action="https://herokuapp.us4.list-manage.com/subscribe/post?u=abebacfe08097f59dd4d43c80&amp;id=ec9d533b79" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-row align-items-center" target="_blank" novalidate>
                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label class="sr-only" for="mce-EMAIL">Email</label>
                            <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="exemplo@email.com">
                        </div>
                        <div class="col-auto">
                            <label class="sr-only" for="mce-FNAME">First name</label>
                            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Seu nome">
                        </div>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_abebacfe08097f59dd4d43c80_ec9d533b79" tabindex="-1" value=""></div>
                        <div class="col-auto">
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
                        </div>
                    </div>
                </form> -->

                <!--End mc_embed_signup-->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<h5 class="card-header">
					Mais detalhes sobre o instrutor
				</h5>
				<div class="card-body">
					<p class="card-text">
                        <img src="{% static 'img/luciano-ramalhoC.png'%}" alt="teste para thumbnail" class="img-thumbnail float-left mr-3"/>
                            Ramalho é diretor e instrutor na Python Pro e autor do livro <a href="http://shop.oreilly.com/product/0636920032519.do" target="_blank"> Python Fluente</a> Foi diretor técnico do Brasil Online, primeiro portal da Abril S/A na Web.
                            Liderou times para os portais IDG Now, BOL, UOL, AOL Brasil e outros, usando Python desde
                            1998. Como instrutor, atendeu clientes como Citibank, CPqD, Serpro, Presidência da República,
                            Globo.com e Itaú. Palestrante em eventos internacionais como FISL, PyCon US e OSCON. Ajudou
                            a criar a Associação Python Brasil e foi seu presidente. É membro da Python Software
                            Foundation e fundador do Garoa Hacker Clube, o primeiro hackerspace do Brasil.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}